.burger {
  display: none;
  margin-left: auto;
  width: 34px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 11;

  @include high-tablet {
    display: block;
    order: 1;
    margin-left: 15px;
  }

  &__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    border-radius: 2px solid var(--dark-color);
    background-color: var(--dark-color);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 50%;
      transform: translate(0px, -50%);
    }

    &:nth-child(4) {
      bottom: 0;
    }
  }
}

.burger--active span:nth-child(1) {
  top: 50%;
  transform: translate(0px, -50%);
  width: 0%;
  left: 50%;
}

.burger--active span:nth-child(2) {
  transform: rotate(45deg);
}

.burger--active span:nth-child(3) {
  transform: rotate(-45deg);
}

.burger--active span:nth-child(4) {
  bottom: 50%;
  transform: translate(0px, 50%);
  width: 0%;
  left: 50%;
}
