.nav {
  &__list {
    @include flex-v-center;

    @include high-tablet {
      @include flex-all-center;

      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

  &__item {
    &:last-child {
      margin-right: 15px;
    }

    &:not(:last-child) {
      @include high-tablet {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &:focus {
      color: var(--light-color);
      background-color: var(--light-green-color);
    }

    &--active {
      color: var(--light-color);
      background-color: var(--light-green-color);
    }

    @include high-tablet {
      color: var(--light-color);
      font-weight: 700;
      font-size: 36px;
    }
  }

  @include high-tablet {
    position: fixed;
    top: 0;
    right: -100%;
    width: 480px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.5s ease 0s;
    overflow: auto;
    background-color: var(--light-green-color);
    z-index: 10;
  }

  @include mobile {
    width: 100%;
  }
}

nav.menu--active {
  opacity: 1;
  visibility: visible;
  right: 0;
}
