<section class="contact section-offset" id="contact">
  <div class="section-title">
    <h2 class="section-title__text">Contact</h2>
  </div>
  <div class="container contact__container">
    <div class="form-wrapper">
      <form action="#" class="form contact__form">
        <label class="form__label">
          <input type="text" name="Имя" class="input-reset form__input input-name" placeholder="Name">
        </label>
        <label class="form__label">
          <input type="tel" name="Телефон" class="input-reset form__input input-tel" placeholder="Phone">
        </label>
        <label class="form__label">
          <input type="email" name="E-mail" class="input-reset form__input input-email" placeholder="E-mail">
        </label>
        <div class="textarea__container">
          <label class="form__label">
            <textarea class="textarea form__textarea input-textarea" name="Сообщение" id="message" minlength="10"
              maxlength="360" placeholder="Enter your message.." required></textarea>
          </label>
          <div class="textarea__counter">
            <span class="current">0</span>&nbsp;/
            <span class="total">360</span>
          </div>
        </div>
        <button class="btn-reset contact-btn form__btn">Send message</button>
      </form>
    </div>
  </div>
</section>
