<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <picture>
        <source srcset="img/avatar.webp" type="image/webp">
        <img loading="lazy" src="img/avatar.jpg" class="hero__image" width="250" height="250" alt="Моя фотография">
      </picture>
      <h1 class="hero__title">Hello! I am<span class="hero__title-name"> &lt;Alexshev7/&gt;</span> <br>
        <span class="hero__subtitle"></span>
      </h1>
    </div>
    <a href="#about" class="hero__link" data-scroll>
      <svg class="hero__arrow-down">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </a>
  </div>
</section>
