<section class="portfolio section-offset" id="portfolio">
  <div class="section-title">
    <h2 class="section-title__text">Portfolio</h2>
  </div>
  <div class="container">
    <ul class="list-reset portfolio__list">
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-1.jpg" alt="RoboSchool">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">RoboSchool</h3>
          <div class="portfolio__bottom">
            <a href="https://alexshev7.github.io/robo-landing/" class="portfolio__link portfolio-btn__item"
              target="_blank">Open</a>
          </div>
        </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-2.jpg" alt="Portfolio photographer">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Portfolio photographer</h3>
          <div class="portfolio__bottom">
            <a href="https://rolling-scopes-school.github.io/alexshev7-JSFEPRESCHOOL/portfolio/"
              class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
        </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-3.jpg" alt="Shelter Cozy House">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Shelter Cozy House</h3>
          <div class="portfolio__bottom">
            <a href="https://rolling-scopes-school.github.io/alexshev7-JSFE2022Q1/shelter/pages/main/"
              class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
        </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-4.jpg" alt="Image gallery">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Image gallery</h3>
          <div class="portfolio__bottom">
            <a href="https://rolling-scopes-school.github.io/alexshev7-JSFEPRESCHOOL/image-gallery/"
              class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-5.jpg" alt="Audio player">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Audio player</h3>
          <div class="portfolio__bottom">
            <a href="https://rolling-scopes-school.github.io/alexshev7-JSFEPRESCHOOL/audio-player/"
              class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-6.jpg" alt="my cv">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">My cv</h3>
          <div class="portfolio__bottom">
            <a href="https://freekabu.ru/" class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-7.jpg" alt="elki optom">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Elki optom</h3>
          <div class="portfolio__bottom">
            <a href="http://andrey-china.ru/" class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-8.jpg" alt="bitrix mobile version">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Mobile version (bitrix)</h3>
          <div class="portfolio__bottom">
            <a href="https://kormvmeshke.ru/" class="portfolio__link portfolio-btn__item" target="_blank">Open</a>
          </div>
      </li>
      <li class="portfolio__item">
        <img loading="lazy" src="../img/project-9.jpg" alt="email layout">
        <div class="portfolio__caption">
          <h3 class="portfolio__title">Mail layout</h3>
          <div class="portfolio__bottom">
            <a href="https://alexshev7.github.io/mail-layout/" class="portfolio__link portfolio-btn__item"
              target="_blank">Open</a>
          </div>
      </li>
    </ul>
  </div>
</section>
